@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: rgba(0, 0, 0, 0.902);
    color: white; /* Optional: Changes text color to white for better visibility */
  }
  html{
    scroll-behavior: smooth;
  }
  
  